<?xml version="1.0" encoding="UTF-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee                http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

  <!-- Servlets -->
  <!-- Default page to serve -->
  
  
  <welcome-file-list>
    <welcome-file>PropertyTaxWatcher.html</welcome-file>
  </welcome-file-list>
  
  <servlet>
        <servlet-name>RemoteApi</servlet-name>
        <servlet-class>com.google.apphosting.utils.remoteapi.RemoteApiServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RemoteApi</servlet-name>
        <url-pattern>/remote_api</url-pattern>
    </servlet-mapping>

  <servlet>
    <servlet-name>LoginService</servlet-name>
    <servlet-class>ca.ubc.cs310.golddiggers.propertytaxwatcher.server.LoginServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>LoginService</servlet-name>
    <url-pattern>/propertytaxwatcher/Login</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>PropertyTaxService</servlet-name>
    <servlet-class>ca.ubc.cs310.golddiggers.propertytaxwatcher.server.PropertyTaxServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>PropertyTaxService</servlet-name>
    <url-pattern>/propertytaxwatcher/PropertyTax</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>PropertyTaxSearchService</servlet-name>
    <servlet-class>ca.ubc.cs310.golddiggers.propertytaxwatcher.server.PropertyTaxSearchServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>PropertyTaxSearchService</servlet-name>
    <url-pattern>/propertytaxwatcher/Search</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>TweeterService</servlet-name>
    <servlet-class>ca.ubc.cs310.golddiggers.propertytaxwatcher.server.TweeterServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>TweeterService</servlet-name>
    <url-pattern>/propertytaxwatcher/Tweeter</url-pattern>
  </servlet-mapping>  

  <servlet>
    <servlet-name>SystemServiceServlet</servlet-name>
    <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
    <init-param>
      <param-name>services</param-name>
      <param-value/>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>SystemServiceServlet</servlet-name>
    <url-pattern>/_ah/spi/*</url-pattern>
  </servlet-mapping>
</web-app>