<?xml version="1.0" encoding="UTF-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee                http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

  <!-- Servlets -->
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>PropertyTaxWatcher.html</welcome-file>
  </welcome-file-list>

  <servlet>
    <servlet-name>loginService</servlet-name>
    <servlet-class>ca.ubc.cs310.golddiggers.propertytaxwatcher.server.LoginServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>loginService</servlet-name>
    <url-pattern>/propertytaxwatcher/login</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>PropertyTaxService</servlet-name>
    <servlet-class>ca.ubc.cs310.golddiggers.propertytaxwatcher.server.PropertyTaxServiceImpl</servlet-class>
  </servlet>
  
    <servlet-mapping>
    <servlet-name>PropertyTaxService</servlet-name>
    <url-pattern>/propertytaxwatcher/propertytax</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>SystemServiceServlet</servlet-name>
    <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
    <init-param>
      <param-name>services</param-name>
      <param-value/>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>SystemServiceServlet</servlet-name>
    <url-pattern>/_ah/spi/*</url-pattern>
  </servlet-mapping>

</web-app>